annotated-doc
annotated-types
anyio
bcrypt
click
dnspython
ecdsa
email-validator
fastapi
greenlet
h11
httptools
idna
passlib
pyasn1
pydantic
pydantic_core
python-dotenv
python-jose
python-multipart
PyYAML
rsa
six
SQLAlchemy
starlette
typing-inspection
typing_extensions
uvicorn
watchfiles
websockets
psycopg[binary]
supabase>=2.5.0
google-auth
